In [1]:
import pandas as pd

In [2]:
stop_data = pd.read_csv("stop_locations.txt", delimiter="|", header = None)
stop_data.columns = ["StopID", "StopNameShort", "StopNameLong", "StopType","SuburbName","PostCode","RegionName",
                     "LocalGovernmentArea","StatDivision","GPSLat","GPSLong"]

In [3]:
stop_data.head()

,StopID,StopNameShort,StopNameLong,StopType,SuburbName,PostCode,RegionName,LocalGovernmentArea,StatDivision,GPSLat,GPSLong
0,867,Weemala Court,Weemala Ct/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.689596,145.105088
1,868,Crana Grove,Crana Gr/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.686742,145.105588
2,869,Punkerri Circuit,Punkerri Cct/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.683643,145.108743
3,870,Plenty River Drive,231 Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.682591,145.111331
4,875,Oldstead Rd,Oldstead Rd/Diamond Creek Rd (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.685336,145.117319

In [4]:
stop_data.describe()

             StopID      PostCode        GPSLat       GPSLong
count  27614.000000  27288.000000  27614.000000  27614.000000
mean   21756.656805   3290.487284    -37.701804    144.913593
std    15848.709416    292.232287      0.616607      0.801867
min        4.000000   2000.000000    -38.777124    138.579720
25%     8495.250000   3080.500000    -37.953394    144.794262
50%    17464.500000   3171.000000    -37.819235    145.026457
75%    37118.750000   3429.000000    -37.708218    145.182875
max    52126.000000   5290.000000    -33.873060    151.206390

In [5]:
stop_data.shape

(27614, 11)

In [6]:
any(pd.isnull(stop_data))

True

In [7]:
stop_data[stop_data.isnull().any(axis=1)]

,StopID,StopNameShort,StopNameLong,StopType,SuburbName,PostCode,RegionName,LocalGovernmentArea,StatDivision,GPSLat,GPSLong
432,47196,Millar Rd,Millar Rd/Melrose Dr (Tullamarine),NaN,Tullamarine,3043.0,Melbourne,Hume,Greater Metro,-37.694808,144.875908
1313,30289,Chelmsford Av,Chelmsford Ave/Autumn St (Newtown (3220)),Kerbside,Newtown (3220),NaN,Geelong,Greater Geelong,Barwon & Western District,-38.139512,144.320158
1685,35474,Elsworth St,Elsworth St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.581623,143.867920
1686,35475,Burdeu St,Burdeu St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.579142,143.868010
1687,35476,Bradshaw St,Bradshaw St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.575223,143.868697
1688,35478,York St,York St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.569545,143.870199
1689,35479,Callow St,Callow St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.567803,143.868742
1690,35480,Cameron St,Cameron St/Barkly St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.570399,143.862002
1691,35481,Bradshaw St,Bradshaw St/Barkly St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.571550,143.860622
1692,35482,Pearces Park,Pearces Park/Barkly St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.573791,143.857967
1695,35485,Pearces Park,Pearces Park/Barkly St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.573753,143.857817
1696,35486,Bradshaw St,Bradshaw St/Barkly St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.571754,143.860190
1745,48501,St Mary's College,St Mary's College/McIntyre St (Seymour),NaN,Seymour,3660.0,Mitchell,Mitchell,Goulburn & Ovens-Murray,-37.021690,145.141295
1948,37451,Riverwood Village,Riverwood Village/Padman Dr (West Albury (NSW)),Kerbside,West Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.079422,146.890171
1949,37452,Solomon Street,Solomon St/Padman Dr (West Albury (NSW)),Kerbside,West Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.080122,146.895161
1950,37453,Albury West Public School,Albury West Public School/Mott St (West Albury...,Kerbside,West Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.077124,146.896449
1951,37454,Miller Street,Miller St/Mott St (West Albury (NSW)),Kerbside,West Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.075275,146.896813
1955,37458,Hovell Street,Hovell St/Macauly St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.088033,146.920977
1956,37459,Charles O'Neill House Units,Charles O'Neill House Units/Macauly St (South ...,Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.088035,146.920829
1957,37460,Bridge Street,Bridge St/Macauly St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.090819,146.920455
1958,37461,Macauly Street,Macauly St/Atkins St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.093711,146.919354
1959,37462,Olive Street,Olive St/Atkins St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.093320,146.916163
1960,37463,Panmure Street,Panmure St/Olive St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.095503,146.915565
1961,37464,Plummer Street,Plummer St/Abercorn St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.096914,146.913994
1962,37465,Panmure Street,Panmure St/Kiewa St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.094566,146.912980
1963,37466,Telstra,Telstra/Kiewa St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.089561,146.913918
1964,37467,Ebden Street,Ebden St/Olive St (South Albury (NSW)),Kerbside,South Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.088257,146.916761
1966,37471,Schubach Street,Schubach St/Centenary St (East Albury (NSW)),Kerbside,East Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.084641,146.927890
1967,37472,Wiedener Crescent,Wiedener Cres/Schubach St (East Albury (NSW)),Kerbside,East Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.087090,146.928110
1968,37473,Neve Street,Neve St/Weidner Cres (East Albury (NSW)),Kerbside,East Albury (NSW),NaN,New South Wales,Interstate,Interstate,-36.087576,146.930130
...,...,...,...,...,...,...,...,...,...,...,...
26164,35395,Peake St,Peake St/Grant St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.569940,143.863529
26165,35396,Grant St,Grant St/Magpie St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.571375,143.864807
26166,35397,Bradshaw St,Bradshaw St/Magpie St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.574120,143.864402
26167,35398,Sovereign Hill,Sovereign Hill/Bradshaw St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.574628,143.866184
26173,35416,Sovereign Hill,Sovereign Hill/Bradshaw St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.574735,143.866424
26174,35418,Bradshaw St,Bradshaw St/Magpie St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.574118,143.864266
26175,35419,Grant St,Grant St/Magpie St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.571267,143.864752
26176,35420,Peake St,Peake St/Grant St (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.570068,143.863395
26178,35422,Callow St,Callow St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.567941,143.868967
26179,35423,York St,York St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.569534,143.870367
26180,35426,Lal Lal St,Lal Lal St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.575538,143.868845
26181,35427,Burdeu St,Burdeu St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.579128,143.868219
26182,35428,Elsworth St,Elsworth St/Main Rd (Golden Point (3350)),Kerbside,Golden Point (3350),NaN,Ballarat,Ballarat,Central Highlands & Wimmera,-37.581619,143.868108
27045,23289,Allenby Road,Allenby Rd/Calder Park Dr (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.704305,144.756510
27046,23290,Community Hub,Community Hub/Calder Park Dr (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.701463,144.756027
27047,23291,Meade Way,Meade Way/Calder Park Dr (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.698278,144.755537
27048,23296,Sugar Gum Dr,Sugar Gum Dr/Gourlay Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.700960,144.742747
27049,23298,Allenby Rd,Allenby Rd/Gourlay Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.702904,144.742384
27068,23359,Allenby Rd,Allenby Rd/Gourlay Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.703024,144.742048
27069,23362,Sugar Gum Dr,Sugar Gum Dr/Gourlay Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.700870,144.742464
27070,23364,Parkwood Green PS,Parkwood Green PS/Gourlay Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.698027,144.743012
27071,23365,Parkwood Green PS,Parkwood Green PS/Gourlay Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.698059,144.743345
27072,23366,Tintern Loop,Tintern Lp/Gourlay Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.693383,144.743908
27507,46095,Caroline Springs College,Caroline Springs College/The Crossing (Carolin...,NaN,Caroline Springs,3023.0,Melbourne,Melton,Greater Metro,-37.735133,144.739026
27510,46756,Aspire Bvd,Aspire Bvd/Beattys Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.693325,144.727269
27511,46757,Sanctuary Rd,Sanctuary Rd/Beattys Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.692272,144.729843
27512,46758,Hillside Recreation Reserve,Hillside Recreation Reserve/Royal Cres (Hillsi...,Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.685571,144.739709
27513,46759,Sunningdale Dr,Sunningdale Dr/Sanctuary Rd (Hillside (3037)),Kerbside,Hillside (3037),NaN,Melbourne,Melton,Greater Metro,-37.691149,144.730386
27586,15351,Sunbury,Sunbury Railway Station (Sunbury),NaN,Sunbury,3429.0,Hume,Hume,Greater Metro,-37.579092,144.727320
27587,15353,Diggers Rest,Diggers Rest Railway Station (Diggers Rest),NaN,Diggers Rest,3427.0,Hume,Hume,Greater Metro,-37.627013,144.719918

In [8]:
stop_data['RegionName'].value_counts()

Melbourne               18246
Geelong                   823
Mornington Peninsula      742
Bendigo                   576
Ballarat                  558
Latrobe                   431
Bellarine Peninsula       412
Greater Shepparton        385
Mildura                   353
Yarra Ranges              345
Whittlesea                326
Hume                      311
Melton                    259
Warrnambool               243
New South Wales           191
Baw Baw                   169
Cardinia                  166
East Gippsland            157
Mitchell                  150
Greater Bendigo           147
Horsham                   142
Wangaratta                140
Bass Coast                135
Macedon Ranges            124
Surf Coast                122
Wellington                111
Campaspe                  109
Wodonga                   107
Central Goldfields        107
Otway                     106
                        ...
Mount Alexander            97
Moira                      92
Ararat                     87
Glenelg                    85
Southern Grampians         85
Wyndham                    82
Northern Grampians         77
Swan Hill                  74
Hepburn                    72
Murrindindi                58
Greater Ballarat           57
Phillip Island             53
Benalla                    53
Loddon                     36
South Gippsland            35
Yarriambiack               32
South Australia            30
Corangamite                27
Pyrenees                   24
Golden Plains              23
Indigo                     21
Alpine                     19
Mansfield                  18
Buloke                     16
Gannawarra                 12
West Wimmera               10
Hindmarsh                  10
Strathbogie                10
Towong                      8
ACT                         2
Name: RegionName, Length: 61, dtype: int64

### Getting stop data for only Melbourne Region

In [9]:
melb_stop_data = stop_data[stop_data["RegionName"]=="Melbourne"]

In [10]:
melb_stop_data.shape

(18246, 11)

In [11]:
columns = ["StopNameShort", "StopNameLong", "RegionName", "PostCode","LocalGovernmentArea","StatDivision"]
melb_stop_data = melb_stop_data.drop(columns, 1)

In [12]:
melb_stop_data.head(2)

   StopID  StopType     SuburbName     GPSLat     GPSLong
0     867  Kerbside  Greensborough -37.689596  145.105088
1     868  Kerbside  Greensborough -37.686742  145.105588

In [13]:
melb_stop_data["SuburbName"].value_counts()

Reservoir             326
Melbourne City        242
Preston               220
Werribee              211
Frankston             208
Berwick               203
Hoppers Crossing      186
Glen Waverley         182
Pakenham              170
Epping                164
Croydon               152
Ferntree Gully        151
Rowville              151
Coburg                142
Doncaster East        138
St Albans             138
Bundoora              137
Dandenong             137
Mill Park             135
Cheltenham            135
Bentleigh East        132
Wantirna South        128
Camberwell            124
Point Cook            123
Ringwood              121
Narre Warren          121
Footscray             120
Craigieburn           119
Kew                   119
Doncaster             118
                     ...
Moorabbin Airport       8
Lower Plenty            8
Belgrave Heights        8
Strathmore Heights      8
Eaglemont               8
Junction Village        8
Melbourne Airport       7
Glen Huntly             7
Seabrook                6
Eumemmerring            6
Ripponlea               6
Hurstbridge             6
Essendon North          6
Essendon West           6
Narre Warren East       5
Tottenham               5
Waterways               5
Ravenhall               5
Kooyong                 5
Keilor North            4
Attwood                 4
Wattle Glen             4
Cremorne                3
Warrandyte South        3
Calder Park             3
Kurunjang               2
Keilor Lodge            2
Sandhurst               2
Seaholme                2
Travancore              1
Name: SuburbName, Length: 333, dtype: int64

In [14]:
melb_stop_data["StopType"].value_counts()

Kerbside               14879
Bus Bay                 2300
Platform                 646
Safety Zone              329
non passenger point       52
kerbside                  11
Layover                    1
Depot                      1
Name: StopType, dtype: int64

In [15]:
# removing lexiacl error from StopType, converting "kerbside" to "Kerbside"
melb_stop_data['StopType'][melb_stop_data['StopType']=="kerbside"] = "Kerbside"

C:\Users\shabb\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
melb_stop_data["StopType"].value_counts()

Kerbside               14890
Bus Bay                 2300
Platform                 646
Safety Zone              329
non passenger point       52
Layover                    1
Depot                      1
Name: StopType, dtype: int64

## Checking data in Only  Berwick region, (selecting suburbname)

In [17]:
melb_stop_data[melb_stop_data["SuburbName"]=="Berwick"]["StopType"].value_counts()

Kerbside    156
Bus Bay      35
Platform      2
Name: StopType, dtype: int64

In [18]:
berwic_stop_data = melb_stop_data[melb_stop_data["SuburbName"]=="Berwick"]

In [19]:
berwic_stop_data.shape

(203, 5)

In [20]:
import os             
all_files = os.listdir("Samp_0/ScanOnTransaction/2015")

In [21]:
all_files

['Week27',
 'Week28',
 'Week29',
 'Week30',
 'Week31',
 'Week32',
 'Week33',
 'Week34',
 'Week35',
 'Week36',
 'Week37',
 'Week38',
 'Week39',
 'Week40',
 'Week41',
 'Week42',
 'Week43',
 'Week44',
 'Week45',
 'Week46',
 'Week47',
 'Week48',
 'Week49',
 'Week50',
 'Week51',
 'Week52',
 'Week53']

In [67]:
for i in all_files:
    j = os.listdir("Samp_0/ScanOffTransaction/2015/"+"Week28")
    for txt_file in j:
        fileName = "Samp_0/ScanOffTransaction/2015/"+"Week28"+ "/" + txt_file
        df = pd.read_csv(fileName, delimiter="|", header = None)
        break
    break

In [68]:
df.columns = ['Mode','BusinessDate','DateTime','CardID','CardType','VehicleID','ParentRoute','RouteID','StopID']
df.head()

,Mode,BusinessDate,DateTime,CardID,CardType,VehicleID,ParentRoute,RouteID,StopID
0,2,2015-07-07,2015-07-07 18:11:24,9325320,1,0,NaN,9,19964
1,2,2015-07-07,2015-07-07 15:13:21,13346360,1,0,NaN,20,19935
2,2,2015-07-07,2015-07-07 16:47:04,13085660,1,0,NaN,20,19985
3,2,2015-07-09,2015-07-09 18:22:45,4994580,1,0,NaN,13,19874
4,2,2015-07-09,2015-07-09 19:39:50,3791300,1,0,NaN,13,19873

In [69]:
df.shape

(451415, 9)

In [70]:
myki_stop_df = pd.merge(df, berwic_stop_data, how='inner', on=["StopID"])

In [71]:
myki_stop_df.shape

(1439, 13)

In [72]:
myki_stop_df.head()

,Mode,BusinessDate,DateTime,CardID,CardType,VehicleID,ParentRoute,RouteID,StopID,StopType,SuburbName,GPSLat,GPSLong
0,1,2015-07-07,2015-07-07 18:33:03,8218620,1,2149,828,10479,3467,Kerbside,Berwick,-38.031302,145.345926
1,1,2015-07-09,2015-07-09 13:51:42,1228670,9,2696,828,10479,3467,Kerbside,Berwick,-38.031302,145.345926
2,1,2015-07-07,2015-07-07 14:12:03,13575940,4,1370,839,10246,3467,Kerbside,Berwick,-38.031302,145.345926
3,1,2015-07-07,2015-07-07 09:20:44,2625190,9,1370,926,16363,3467,Kerbside,Berwick,-38.031302,145.345926
4,1,2015-07-09,2015-07-09 15:54:42,12934670,1,1503,828,10479,3467,Kerbside,Berwick,-38.031302,145.345926

In [73]:
myki_stop_df["Mode"].value_counts()

2    922
1    517
Name: Mode, dtype: int64

In [74]:
#removing train stop and tram stop, selecting mode for bus
myki_stop_df = myki_stop_df[myki_stop_df["Mode"]==1]

In [75]:
myki_stop_df["StopType"].value_counts()

Kerbside    259
Bus Bay     248
Name: StopType, dtype: int64

In [76]:
myki_stop_df.groupby(["StopType", "StopID"]).size()

StopType  StopID
Bus Bay   3462       2
          3468       2
          3469       2
          3470       2
          3692       6
          3693       2
          3695       1
          3696       3
          3703       1
          4216       1
          4217      11
          13506      3
          14818      2
          21023     25
          21024     40
          21025     48
          22800      2
          23338      2
          40315     93
Kerbside  3467       7
          3694       3
          3697      11
          3698       9
          13503      5
          13504      3
          14588      2
          14589      2
          14590      7
          14594      5
          14595      3
                    ..
          14843      2
          14845     12
          17260      1
          18281      2
          18282      4
          18629      9
          22790      3
          22796      1
          22799      8
          22801      1
          41118      1
          41153      1
          41499      6
          45664      2
          45665      4
          45666      6
          45670      2
          45678      2
          45681      4
          45711      3
          45712      5
          45713      2
          45727      1
          45728      6
          45749      1
          45756      5
          45757      2
          45758      1
          45764     14
          45829      4
Length: 86, dtype: int64

In [77]:
# Week 28- touch OFF  
# for top 10 records
myki_stop_df.groupby(["StopType", "StopID"]).size().nlargest(10)
#myki_stop_df.groupby(["StopType", "StopID"]).size().head(10)

StopType  StopID
Bus Bay   40315     93
          21025     48
          21024     40
          21023     25
Kerbside  45764     14
          14845     12
Bus Bay   4217      11
Kerbside  3697      11
          3698       9
          14830      9
dtype: int64

In [66]:
# week 28 - touch ON
# for top 10 records
myki_stop_df.groupby(["StopType", "StopID"]).size().nlargest(10)
#myki_stop_df.groupby(["StopType", "StopID"]).size().head(10)

StopType  StopID
Bus Bay   40315     84
          21024     62
          21025     58
          21023     41
Kerbside  18629     23
          3467      21
          14842     19
          45764     13
Bus Bay   4217      12
Kerbside  14773     12
dtype: int64

In [52]:
#week 27 - touch ON
# for top 10 records
myki_stop_df.groupby(["StopType", "StopID"]).size().nlargest(10)
#myki_stop_df.groupby(["StopType", "StopID"]).size().head(10)

StopType  StopID
Bus Bay   21024     35
          40315     32
          21023     26
Kerbside  3467      15
Bus Bay   21025     14
Kerbside  14842     12
          14773     11
          18629     10
Bus Bay   4217       9
Kerbside  22801      7
dtype: int64

###  Removing subrurb records which have stops less than 10 in one suburb

In [32]:
s = melb_stop_data["SuburbName"].value_counts()
melb_stop_data = melb_stop_data[melb_stop_data.isin(s.index[s > 20]).values]

In [33]:
#removing rows with any null value
melb_stop_data = melb_stop_data.dropna(how='any')

In [34]:
melb_stop_data[melb_stop_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [StopID, StopType, SuburbName, GPSLat, GPSLong]
Index: []

In [35]:
melb_stop_data.shape

(17332, 5)

## Counting stops in suburb

In [36]:
suburb_stop_count = melb_stop_data["SuburbName"].value_counts()

In [37]:
suburb_stop_count = pd.DataFrame(suburb_stop_count)

In [38]:
suburb_stop_count

                  SuburbName
Reservoir                326
Melbourne City           242
Preston                  220
Werribee                 211
Frankston                208
Berwick                  193
Hoppers Crossing         186
Glen Waverley            182
Pakenham                 168
Epping                   163
Croydon                  152
Rowville                 151
Ferntree Gully           151
Coburg                   142
Doncaster East           138
St Albans                138
Dandenong                137
Bundoora                 137
Mill Park                135
Cheltenham               135
Bentleigh East           132
Wantirna South           128
Camberwell               124
Point Cook               123
Narre Warren             121
Footscray                120
Kew                      119
Craigieburn              119
Ringwood                 118
Doncaster                118
...                      ...
Mount Eliza               27
Heidelberg                27
North Warrandyte          27
Cranbourne West           27
Officer                   26
Carrum                    26
Brooklyn                  26
Albanvale                 26
Beaconsfield              25
Black Rock                25
Mont Albert               25
Laverton                  24
Oakleigh East             24
Derrimut                  24
Dallas                    24
Kings Park                24
Williams Landing          23
Viewbank                  22
Eltham North              22
Research                  22
Watsonia North            22
Warranwood                22
Docklands                 22
Mckinnon                  22
Kingsbury                 21
Windsor                   21
Albion                    21
Park Orchards             21
Abbotsford                21
Alphington                21

[254 rows x 1 columns]

In [39]:
#resetting index
suburb_stop_count['SubName'] = suburb_stop_count.index

In [40]:
suburb_stop_count.columns = ["StopCount", "SuburbName"]

In [41]:
suburb_stop_count = suburb_stop_count.reset_index(drop="true")

In [42]:
suburb_stop_count.head()

   StopCount      SuburbName
0        326       Reservoir
1        242  Melbourne City
2        220         Preston
3        211        Werribee
4        208       Frankston

In [43]:
suburb_stop_count.shape

(254, 2)