In [1]:
import pandas as pd

In [2]:
stop_data = pd.read_csv("D:\StudyMaterial\DatathonMelb_2018\stop_locations.txt", delimiter="|", header = None)
stop_data.columns = ["StopID", "StopNameShort", "StopNameLong", "StopType","SuburbName","PostCode","RegionName",
                     "LocalGovernmentArea","StatDivision","GPSLat","GPSLong"]

In [4]:
stop_data.head(2)

,StopID,StopNameShort,StopNameLong,StopType,SuburbName,PostCode,RegionName,LocalGovernmentArea,StatDivision,GPSLat,GPSLong
0,867,Weemala Court,Weemala Ct/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.689596,145.105088
1,868,Crana Grove,Crana Gr/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.686742,145.105588

## Importing myki data

In [6]:
myki_data = pd.read_csv("cleaning/agg_data_melted.csv", delimiter=",")

In [7]:
myki_data.head(3)

         Date  StopID  Counts
0  2015-07-12     867    10.0
1  2015-07-19     867    15.0
2  2015-07-26     867    10.0

## Combining myki and stop data

In [20]:
df = pd.merge(myki_data, stop_data,  how='left', left_on=['StopID'], right_on = ['StopID'])

In [21]:
# Checking null
df.isnull().sum()

Date                       0
StopID                     0
Counts                     0
StopNameShort              0
StopNameLong               0
StopType                5966
SuburbName                 0
PostCode               10048
RegionName                 0
LocalGovernmentArea        0
StatDivision               0
GPSLat                     0
GPSLong                    0
dtype: int64

In [22]:
# converting null values to unkonwn
df['StopType'].fillna('Unknown',inplace = True)
df['PostCode'].fillna('Unknown',inplace = True)

In [23]:
# Checking null
df.isnull().sum()

Date                   0
StopID                 0
Counts                 0
StopNameShort          0
StopNameLong           0
StopType               0
SuburbName             0
PostCode               0
RegionName             0
LocalGovernmentArea    0
StatDivision           0
GPSLat                 0
GPSLong                0
dtype: int64

## Writing data

In [24]:
df.to_csv("cleaning/agg_data_melted+StopData.csv", sep=',', index=False)